<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="menu_procurement_control_root"
        name="Pilotage approvisionnements"
        parent="stock.menu_stock_root"
        sequence="25"
        groups="laplatine_procurement_control.group_procurement_control_user"
    />
    <menuitem
        id="menu_procurement_control_cockpit"
        name="Cockpit"
        parent="menu_procurement_control_root"
        action="procurement_control_line_action"
        sequence="10"
    />
</odoo>
